In [113]:
import pandas as pd 

df = pd.read_csv(r'E:\Users\Sergio\OneDrive\git\python\fake_datasets\csv\dados_clientes.csv', encoding= 'latin')
df['data_inscricao'] = pd.to_datetime(df['data_inscricao'])
df.head()

,id_cliente,nome,sobrenome,sexo,cpf,grau_instrucao,uf,cep,idade,data_inscricao
0,-5271066554876290418,ALINE,BOTELHO RIGONI,F,36919884666,fundamental completo,MG,32401-614,32.027446,2021-10-04
1,-9118477834724310601,ARAO,CIQUEIRA SCARCINELLI,M,30289361869,fundamental incompleto,SP,15253-864,35.258034,2021-03-24
2,7606654413632934233,ARON,CHAGAS ZANICHELLI,M,31520745060,fundamental incompleto,RS,92776-450,41.042358,2021-05-13
3,-5173874165691032850,ADA,GRIFFO MORO,F,31564113612,ensino medio completo,MG,30201-433,24.418194,2021-05-04
4,6434582929127928684,ABADE,CONCIANI MILLER,M,36849054538,fundamental incompleto,BA,45908-655,37.185126,2021-01-25

In [114]:
df['rank'] = df.idade.rank()
df.sort_values('idade')[['nome','idade','rank']]

             nome      idade      rank
73464  SEBASTIANE  18.944867       1.0
28377      EZAIRA  19.627523       2.0
54363     LUCEMIR  19.749891       3.0
78900     LAERSON  19.847393       4.0
12463   CLARINETE  20.000139       5.0
...           ...        ...       ...
46659      JUCEIA  71.012386  100783.0
11142     KAILANE  71.353194  100784.0
1017     ADENALVA  72.148736  100785.0
80921    VANILSON  72.241997  100786.0
78982    UERMESON  78.351208  100787.0

[100787 rows x 3 columns]

In [115]:
df.query('idade.rank() < 3')

,id_cliente,nome,sobrenome,sexo,cpf,grau_instrucao,uf,cep,idade,data_inscricao,rank
28377,-2670521759400778700,EZAIRA,CIQUEIRA ALBINO,F,38959025607,fundamental incompleto,MG,38599-386,19.627523,2021-12-29,2.0
73464,9195611098208229137,SEBASTIANE,GRIFFO TRANCHO,F,35393985541,ensino medio completo,BA,46113-634,18.944867,2021-04-07,1.0

In [116]:
# pegando os 2 mais novos por estado
df[df.groupby('uf').idade.transform('rank', ascending = True) < 3].sort_values('uf').head(10)

,id_cliente,nome,sobrenome,sexo,cpf,grau_instrucao,uf,cep,idade,data_inscricao,rank
3417,-3515710187127789620,ALDENILO,LAGO LEAL,M,39313945223,fundamental incompleto,AC,69963-104,20.036735,2021-03-02,97.0
90265,3844132603624178588,LEIDILANE,CANZIAN MARANGON,F,30321966201,fundamental incompleto,AC,69975-195,20.075957,2021-09-07,201.0
2645,9042162596132933383,ALACIDIO,BUZON ROSAS,M,30978163486,sem instrucao,AL,57531-832,20.023260,2021-08-22,59.0
14492,-6748003961146701235,CREONILDO,FORAFO BUFFO,M,37402902420,ensino medio completo,AL,57695-314,20.006623,2021-12-12,20.0
54363,3158793012207191175,LUCEMIR,CIQUEIRA FONTANA,M,33253321290,fundamental completo,AM,69573-496,19.749891,2021-11-04,3.0
12463,-6673637092915800829,CLARINETE,SIPOLATTI ANCHESQUI,F,34760191283,fundamental incompleto,AM,69642-437,20.000139,2021-07-17,5.0
67658,828581037115986165,RAILAINE,PERIM FAZOLI,F,35732244239,superior completo,AP,68997-292,20.018683,2021-08-31,51.0
34356,825672131503258801,GRIELE,CANZIAN CALIARI,F,30878820205,fundamental incompleto,AP,68902-037,20.053530,2021-03-18,139.0
73464,9195611098208229137,SEBASTIANE,GRIFFO TRANCHO,F,35393985541,ensino medio completo,BA,46113-634,18.944867,2021-04-07,1.0
27992,-2899076500120253986,EVANILSON,CIQUEIRA TOMASI,M,31297305590,superior completo,BA,48750-812,20.015089,2021-10-21,42.0

In [117]:
# pegando os 2 mais velhos por estado
df[df.groupby('uf').idade.transform('rank', ascending = False) < 3].sort_values('uf').head()

,id_cliente,nome,sobrenome,sexo,cpf,grau_instrucao,uf,cep,idade,data_inscricao,rank
84984,460088139190227577,EIICHI,CREMARD TONOLI,M,30614453232,ensino medio completo,AC,69972-555,57.781011,2021-08-02,100498.0
46905,3701071896099818038,JUDAS,VILAR DALLA,M,30648770206,superior completo,AC,69920-320,63.656237,2021-01-10,100734.0
56386,-5888054486762616392,MANTOVANI,VICENTE SARAIVA,M,36951801452,superior completo,AL,57222-788,64.580702,2021-12-06,100751.0
78982,1339912110049725878,UERMESON,TAYLOR BATTISTELLA,M,39253480424,superior completo,AL,57490-694,78.351208,2021-10-13,100787.0
9920,7899307622649525702,BOAZ,MASSARDI RAMIRO,M,33399500246,fundamental completo,AM,69756-306,63.452914,2021-03-27,100733.0

In [138]:
df.groupby([pd.Grouper(key = 'data_inscricao', freq = 'MS'),'uf']).rank().sort_values('idade')

       id_cliente    cpf  idade   rank  media_idade_mes
8999         57.0  137.0    1.0    1.0            110.5
78301        58.0  102.0    1.0    1.0             91.0
92360       629.0  791.0    1.0    1.0            408.5
81573       223.0   81.0    1.0    1.0            189.0
39583        77.0   24.0    1.0    1.0             85.0
...           ...    ...    ...    ...              ...
27526       908.0  619.0  919.0  919.0            462.0
98555       630.0  890.0  920.0  920.0            462.0
59294       787.0  697.0  921.0  921.0            462.0
62109       175.0   30.0  922.0  922.0            462.0
40044       468.0  906.0  923.0  923.0            462.0

[100787 rows x 5 columns]

In [146]:
df[df.groupby([pd.Grouper(key = 'data_inscricao', freq = 'MS'),'uf']).rank()['idade'] == 1]

,id_cliente,nome,sobrenome,sexo,cpf,grau_instrucao,uf,cep,idade,data_inscricao,rank,media_idade_mes
181,5670862396406963028,ABMAEL,FRAGA PICCIN,M,34873371775,ensino medio completo,ES,29158-843,20.136553,2021-12-03,391.0,32.550596
264,-2033894959365581216,ACENILDE,CONCIANI MANFREDO,F,35481482398,fundamental incompleto,PI,64576-433,20.119907,2021-02-07,342.0,31.226222
740,4991150111225857619,ADEJALMA,SIPOLATTI MARCHESE,M,33637269457,fundamental incompleto,AL,57402-468,20.035547,2021-05-01,94.0,32.055037
781,-5169691197225633011,ADELAINE,STEBENNE GUILHERME,F,31966856245,ensino medio incompleto,AM,69499-920,20.055990,2021-10-23,148.0,31.659221
932,-5269948065444004860,ADELZITA,MAJESKI CALIXTO,F,30404648410,fundamental incompleto,AL,57506-347,20.263356,2021-03-05,762.0,31.734344
...,...,...,...,...,...,...,...,...,...,...,...,...
98456,289766412726500061,CHAN,ZANARDO GRASSETTO,M,35877409255,fundamental incompleto,AM,69482-229,20.280981,2021-08-22,819.0,32.906618
99374,5029294496592137510,BELZAIR,FRAGA PIAZZAROLLO,F,30267710402,ensino medio completo,RN,59780-177,20.286134,2021-06-13,838.0,31.979124
99664,178775906414138836,EISANGELA,MOSCHON WALKER,F,36198779807,ensino medio completo,SP,10615-362,20.031377,2021-03-30,78.0,31.500008
100011,-4593495097819135336,DABIELE,MINIGUITE DORIGO,F,31040593909,sem instrucao,PR,84820-819,20.042765,2021-01-02,121.0,31.269617
100111,4934843783676759874,SIZINANDO,TAYLOR ANDREÃO,M,38280985174,superior completo,GO,75281-171,20.213852,2021-03-14,602.0,31.880786