In [2]:
import pandas as pd 

df = pd.read_csv(r'E:\Users\Sergio\OneDrive\git\python\fake_datasets\csv\dados_clientes.csv', encoding= 'latin')
df.head()

,id_cliente,nome,sobrenome,sexo,cpf,grau_instrucao,uf,cep,idade
0,-4835863059640323805,ALINE,BETTIN BAIENSE,F,36919884666,fundamental completo,MG,32401-614,25.653283
1,-7812228504367106399,ARAO,RASMUSEN TYRNE FUMANESI,M,30289361869,fundamental incompleto,SP,15253-864,29.496348
2,-615496062623175771,ARON,VICENTE GOMES LUIS,M,31520745060,fundamental incompleto,RS,92776-450,21.745232
3,4549084384535614861,ADA,BUZON SCANFERLA,F,31564113612,ensino medio completo,MG,30201-433,23.807220
4,8127233580870673453,ABADE,DE MORAES LOVATEL,M,36849054538,fundamental incompleto,BA,45908-655,31.831435

In [3]:
df['rank'] = df.idade.rank()
df.sort_values('idade')[['nome','idade','rank']]

             nome      idade      rank
90519        GINI  19.677974       1.0
76466      TAIANI  20.000100       2.0
69438  RIANDERSON  20.000463       3.0
30206   GARBRIELA  20.000571       4.0
18772      DILCEA  20.001151       5.0
...           ...        ...       ...
43563      JULIAN  68.692147  100783.0
79614  VALDELICIO  69.535645  100784.0
86684    ADAILTON  70.877519  100785.0
91683       GERSE  71.585342  100786.0
84230       WELHO  76.191177  100787.0

[100787 rows x 3 columns]

In [4]:
df.query('idade.rank() < 3')

,id_cliente,nome,sobrenome,sexo,cpf,grau_instrucao,uf,cep,idade,rank
76466,1984718481367674904,TAIANI,BINELLE LEITÃO,F,36266767570,sem instrucao,BA,44808-256,20.000100,2.0
90519,-1179872305920289353,GINI,DE ANGELI MARCHESE,F,33123833666,fundamental incompleto,MG,37986-654,19.677974,1.0

In [7]:
# pegando os 2 mais novos por estado
df[df.groupby('uf').idade.transform('rank', ascending = True) < 3].sort_values('uf').head(10)

,id_cliente,nome,sobrenome,sexo,cpf,grau_instrucao,uf,cep,idade,rank
59024,3192582339993039512,MILENA,FRAGA MARETTO,F,34075434257,superior completo,AC,69971-479,20.015896,59.0
68385,5915138643322945197,RAVI,BOTELHO CHTISTENSDATTER,M,34315501263,superior completo,AC,69987-539,20.033376,130.0
7815,2397656918757923157,AROLDO,BOTELHO NÃSPOLI,M,39062789480,ensino medio completo,AL,57457-707,20.015094,53.0
81161,2041117071096769436,VARDENIR,MAGRINI PISSIN,M,36522554453,superior completo,AL,57223-882,20.017570,67.0
49504,-2124310764849891405,KETHELLYN,DE MORAES BOTTEON,F,33417609208,fundamental incompleto,AM,69571-635,20.027473,111.0
84911,-884918385518891325,YOSUKE,MADUREIRA VALLE,M,33804234240,sem instrucao,AM,69585-510,20.055012,195.0
63321,5513587324902528713,NIDIA,TAYLOR BREZINSKI,F,32334617202,ensino medio completo,AP,68910-173,20.029662,118.0
38143,-7675822832737213159,INDAIARA,MOSCHON BREDA,F,38452128290,superior completo,AP,68917-393,20.044286,161.0
49346,-6854916929469750107,CERSIO,DE AUGUSTINHO NEVES,M,33836014556,ensino medio completo,BA,44510-647,20.006530,25.0
76466,1984718481367674904,TAIANI,BINELLE LEITÃO,F,36266767570,sem instrucao,BA,44808-256,20.000100,2.0

In [8]:
# pegando os 2 mais velhos por estado
df[df.groupby('uf').idade.transform('rank', ascending = False) < 3].sort_values('uf')

,id_cliente,nome,sobrenome,sexo,cpf,grau_instrucao,uf,cep,idade,rank
81181,-7309124060217252591,VARLETE,SIPOLATTI VALIATTI,F,33414683237,fundamental incompleto,AC,69933-303,59.558581,100635.0
29986,632085190410736965,FRANSIELI,DE MORAES MARIANELLI,F,31155035208,ensino medio completo,AC,69914-967,60.303866,100676.0
7488,3673300241437349661,ARISTELSON,URBINO SELVA,M,38250190475,fundamental incompleto,AL,57095-882,60.741316,100692.0
91683,-21848442590759905,GERSE,SILVA CREMARD,M,34888467412,ensino medio completo,AL,57663-723,71.585342,100786.0
56276,-6505567607858984521,MALLU,MAJESKI MENGALE,F,32074461240,ensino medio completo,AM,69878-559,60.039965,100665.0
45946,3352864943734544708,JOSILEILA,STEBENNE ZUQUI,F,30588433217,ensino medio completo,AM,69458-649,61.128014,100703.0
8970,7952322235790129975,AVELINO,FROSSAR DE MARCHI,M,31898035288,superior completo,AP,68982-499,63.259159,100753.0
98882,-2354441072885178480,EMANUELI,MASSARDI DE ALMEIDA,F,34918458238,ensino medio incompleto,AP,68978-073,59.860898,100659.0
99595,4458955594536106632,LEIDSON,SILVA COROCHER,M,31075830575,fundamental incompleto,BA,48047-655,62.813991,100741.0
43563,1857961088110669608,JULIAN,CIQUEIRA BITELLI,F,33804534554,fundamental incompleto,BA,46905-006,68.692147,100783.0
76767,-6908828581259782249,TAMARA,PERIM JOHANNESDT.,F,33175410324,fundamental completo,CE,60594-382,63.053843,100749.0
53921,6678186349700858767,LORILEI,URBINO AIETTE,F,35729116306,fundamental incompleto,CE,63767-858,62.918679,100746.0
63011,1783410855731831285,NEUVANIA,FRAGA OLAUSEN,F,37946744137,fundamental incompleto,DF,73628-536,61.757010,100723.0
50477,2292515342718866366,ELIELTON,MONENTE NAPOLEÃO,M,36089426105,ensino medio completo,DF,73137-837,62.105855,100727.0
11227,-6518316413451750137,KALIANDRA,BOTELHO GRANDO,F,34038821790,superior completo,ES,29903-311,63.165990,100751.0
55161,5470982119692036731,LUZARDO,MAGRINI T,M,31418420786,ensino medio completo,ES,29426-405,67.611604,100780.0
28826,-596335187681137330,FELISBELA,FRAGA LAPA,F,32336337185,sem instrucao,GO,74101-512,62.824732,100743.0
24402,878198364701612086,ELIZEBETH,TAYLOR MANEBACK,F,38221444103,superior completo,GO,74322-019,66.493564,100775.0
79226,8624258765747520757,URIK,SANTOS RIGON,M,39002221347,sem instrucao,MA,65055-319,61.347113,100708.0
41452,5710670569871048987,JANDILEIA,RASMUSEN TYRNE CHIECAN,F,30977837335,ensino medio completo,MA,65390-054,67.709869,100781.0
7598,55480289133896165,ARLEA,DAL BO GARCIA,F,39129261660,fundamental incompleto,MG,32896-356,66.411940,100774.0
60357,-5493608042122248133,MONALISA,URBINO BOARIN,F,39495451663,fundamental incompleto,MG,39513-479,64.157377,100759.0
78279,251080438864987487,THIELLY,PINO REINEHR,F,33397809193,superior completo,MS,79570-413,65.250628,100768.0
18101,-3871426653225026212,DEVANIR,STEBENNE PERIORDI,M,35568898111,sem instrucao,MS,79921-181,62.108766,100728.0
7788,3447799399061414538,ARNI,HENRICHSDATTER VALOTO,M,31899490183,fundamental incompleto,MT,78713-593,64.174837,100760.0
50773,5177251292062533260,LARICE,ONHAS ROZARIO,F,37763796189,fundamental completo,MT,78852-443,64.452232,100763.0
77185,1725806392540312650,TAUENE,BETTIN MARINHO,F,35541636272,superior completo,PA,67369-195,62.455766,100736.0
27213,-9217559966425772344,EUCINEI,SANTOS KRISTENSEN,M,36881753284,ensino medio completo,PA,66712-323,58.821423,100593.0
89598,5663429486611778957,CLADENIR,MINIGUITE BERNADINI,M,39849161400,ensino medio completo,PB,58052-083,62.372803,100734.0
34169,5955529018080643146,GRAICE,ONHAS CHIARADIA,F,34000810430,superior completo,PB,58248-260,63.238743,100752.0
86684,-451843258560535106,ADAILTON,CANSIAN SALA,M,31174464437,ensino medio completo,PE,51284-493,70.877519,100785.0
14893,4793854287983865995,CRISTOFER,NOVAES PAULUCCIO,M,30671551493,superior completo,PE,51354-421,66.813148,100778.0
14729,3048643501566676371,CRISTIAN,DE AUGUSTINHO VIDOTTI,M,39320469350,ensino medio completo,PI,64711-284,68.468894,100782.0
71252,4033346271067648915,ROSILDA,RASMUSEN TYRNE GRANZOTTO,F,38291750351,ensino medio completo,PI,64324-421,60.759050,100693.0
54199,-7619820465972778179,LOURISVAN,MONTOAN XAVIER,M,39203272925,ensino medio completo,PR,87869-165,65.657282,100770.0
49021,6872240567971323536,KELLORY,VILAR DELPUPO,F,31657195945,fundamental incompleto,PR,82476-196,64.306046,100761.0
82830,2366407815050745173,WANDRES,TAYLOR CHIES,M,36502684777,fundamental incompleto,RJ,20398-499,63.646889,100756.0
37665,4256580526324856948,ALDARA,TAGLIAFERRO DE AGUIAR,F,38309935790,superior completo,RJ,25588-738,66.802583,100777.0
84213,4992448748879966525,WILMARY,PARENT DA SILVA,F,36581226416,fundamental incompleto,RN,59060-609,61.590954,100714.0
68418,7765351753887532809,RAIANDERSON,FROSSAR ORECHIO,M,36760952430,fundamental incompleto,RN,59423-231,59.100836,100608.0
93528,-4024545851175484418,ADENEIDE,BALDO LEITE,F,31761455273,ensino medio completo,RO,76944-822,60.422622,100683.0
28947,8404851264130978898,FAEL,DAL BO BRODEUR,M,35326705265,superior completo,RO,76803-622,59.495941,100631.0
45677,-2670412937881262051,JOSEMIL,ONHAS REZENDE,M,36611321217,fundamental incompleto,RR,69393-818,65.016086,100766.0
2887,8688756468174468370,ALDENIR,PALERMO BERTONSIN,M,34390159208,fundamental incompleto,RR,69380-799,60.253273,100673.0
87030,8817375207134518845,EZEKIEL,LAGO HENRIQUE,M,34884238087,sem instrucao,RS,91526-476,67.611564,100779.0
50306,-83346015646718208,LADIEL,SILVA WALLORY,M,35795240036,superior completo,RS,90728-132,66.536553,100776.0
79614,3484278305212584943,VALDELICIO,DE AUGUSTINHO SAMPAIO,M,32030231991,superior completo,SC,88971-556,69.535645,100784.0
84230,6009566021616942892,WELHO,DE ANGELI BELINATO,M,39939158955,ensino medio completo,SC,89262-956,76.191177,100787.0
83444,-7270045157204006519,WENDIO,CREMARD CHRISTIANSDATTER,M,35616732524,ensino medio incompleto,SE,49375-732,64.832095,100764.0
86728,3159142665769457229,EDENEIDE,PERIM BOZZOLI,F,39558638595,superior completo,SE,49537-631,61.729416,100720.0
51056,2476209247619184237,LAURICLEIDE,LORENÃON JACOMELLE,F,38526442830,superior completo,SP,18746-922,62.489992,100737.0
81456,3247606763314788300,VERENI,LAGE PLOTEGHER,F,39404358800,ensino medio completo,SP,04202-755,65.717885,100771.0
60898,-9157445039797710673,NADJAMARA,TEROSSI BALANÃA,F,39074712100,ensino medio completo,TO,77272-303,63.791438,100757.0
39131,946198482352424352,EISANGELA,ZERBONE DA CONCEICAO,F,30658660136,sem instrucao,TO,77027-643,64.103540,100758.0